<div class="row">
            <label><input type="radio" name="datasets" value="<%= data.name%>"/><%= data.name%></label>

            <a href="javascript:void(0)" onclick="return false;" class="delete ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" title="Delete">
                <span class="ui-button-icon-primary ui-icon ui-icon-trash"></span>
                <span class="ui-button-text">...</span>
            </a>
</div>