<form id="<%= element_id() %>" action="<%= ApplicationContext.domain %>/backend/upload/data" method="POST" enctype="multipart/form-data" type="upload">
    <!-- content will be added after Controller.publish("initialize") event fires and FileUpload engine is initialized. See main_controller.js -->
</form>