<!-- TODO add template here-->
<p>
- Device Info ----------------------------------------
</p>
<ul>
    <li>Device:          #name#
    <li>type_id:         #type_id#
    <li>iiop_version:    #iiop_version#
    <li>host:            #host#
    <li>port:            #port#
    <li>Server:          #server#
    <li>Server PID:      #server_pid#
    <li>Exported:        #exported#
    <li>last_exported:   #last_exported#
    <li>last_unexported: #last_unexported#
</ul>
