<div>
<h1>TangoWebapp</h1>
<h2><%= TangoWebapp.version %></h2>
<p>
    Developed by Ingvord &lt;tla-ingvord@yandex.ru&gt;
</p>
<p>
    Project host:<br/>
    <a href="http://bitbucket.org/ingvord/tango-web-app">http://bitbucket.org/ingvord/tango-web-app</a>
</p>
<p>
    Report issues to <a href="http://bitbucket.org/ingvord/tango-web-app/issues">issues tracker</a>
</p>
</div>