<div class="start_page">

    <div style="width: 100%;  text-align: center;">
        <div style="text-align: left; font-family: Courier New, Courier, monospace; font-size: larger; display: inline-block; float: left;">
            <h2>Getting started:</h2>
            <ol>
                <li>Set TANGO_HOST in the toolbar</li>
                <li>Press <span class="webix_icon fa-refresh "></span> button</li>
                <li>Expand the Device tree</li>
                <li>Use the context menu on a device</li>
            </ol>
        </div>
        <div style="font-family: Courier New, Courier, monospace; font-size: larger; display: inline-block; vertical-align: top;">
            <h2>Features:</h2>
        </div>
        <div id="getting-started-carousel" style="display: inline-block; text-align: center;">
        </div>
    </div>
</div>