.ALARM .webix_template {
    background-color: lightcoral !important;
    vertical-align: middle !important;
    color: black !important;
    font-weight: bolder !important;
}

.ON .webix_template {
    background-color: palegreen !important;
    vertical-align: middle !important;
    color: black !important;
    font-weight: bolder !important;
}

.STANDBY .webix_template {
    background-color: lightskyblue !important;
    vertical-align: middle !important;
    color: black !important;
    font-weight: bolder !important;
}

.RUNNING .webix_template {
    background-color: limegreen !important;
    vertical-align: middle !important;
    color: black !important;
    font-weight: bolder !important;
}

.UNKNOWN .webix_template {
    background-color: lightgray !important;
    vertical-align: middle !important;
    color: black !important;
    font-weight: bolder !important;
}

/* TODO MORE STATES */