.webix_tree {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ALARM .webix_template {
    background-color: lightcoral !important;
    vertical-align: middle !important;
    color: black !important;
    font-weight: bolder !important;
}

.ON .webix_template {
    background-color: palegreen !important;
    vertical-align: middle !important;
    color: black !important;
    font-weight: bolder !important;
}

.STANDBY .webix_template {
    background-color: lightskyblue !important;
    vertical-align: middle !important;
    color: black !important;
    font-weight: bolder !important;
}

.RUNNING .webix_template {
    background-color: limegreen !important;
    vertical-align: middle !important;
    color: black !important;
    font-weight: bolder !important;
}

.UNKNOWN .webix_template {
    background-color: lightgray !important;
    vertical-align: middle !important;
    color: black !important;
    font-weight: bolder !important;
}

.tab_bold {
    font-weight: bold;
    /*vertical-align: middle;*/
    /*text-align: center;*/
    /*display: initial;*/
    display: block;
}

.webix_icon.webix_tab_close {
    /*padding: 0px;*/
    /*margin-top: -15px;*/
    display: table-cell;
}

.tab_img {
    float: left;
    margin-left: 3px;
    /*display: table-cell;*/
    /*vertical-align: middle;*/

}

/*[webix_tm_id|=root] > .webix_tree_folder_open:before {
    content: "\f233";   *//*server*//*
    font-family: FontAwesome;
}

[webix_tm_id|=root] > .webix_tree_folder_open {
    background-image: none;
}*/

/* devices_tree */

.rest_host > .webix_tree_folder_open:before, .rest_host > .webix_tree_folder:before {
    content: "\e875";
    font-family: 'Material Icons';
}
.rest_host > .webix_tree_folder_open, .rest_host > .webix_tree_folder {
    background-image: none;
}

.tango_host > .webix_tree_folder_open:before, .tango_host > .webix_tree_folder:before{
    content: "\e8e9";
    font-family: 'Material Icons';
}

.aliases > .webix_tree_folder_open:before, .aliases > .webix_tree_folder:before{
    content: "\e157";
    font-family: 'Material Icons';
}

.tango_host > .webix_tree_folder_open, .tango_host > .webix_tree_folder{
    background-image: none;
}

.webix_tree_folder_open:before{
    content: "\e2c7";
    font-family: 'Material Icons';
}
.webix_tree_folder_open{
    background-image: none;
}
.webix_tree_folder:before{
    content: "\e2cc";
    font-family: 'Material Icons';
}
.webix_tree_folder{
    background-image: none;
}

.webix_tree_file:before {
    content: "\e3c1";
    font-family: 'Material Icons';
}
.webix_tree_file {
    background-image: none;
}

.member > .webix_tree_file:before {
    content: "\e322";
    font-family: 'Material Icons';
}

/* device_tree */

.SCALAR > .webix_tree_file:before {
    content: "\f1fa";
    font-family: 'Material Icons';
}

.SPECTRUM > .webix_tree_file:before {
    content: "\f1fe";
    font-family: 'Material Icons';
}

.IMAGE > .webix_tree_file:before {
    content: "\f03e";
    font-family: FontAwesome;
}

.STATE > .webix_tree_file:before {
    content: "\f0e4";
    font-family: 'Material Icons';
}

.STATUS > .webix_tree_file:before {
    content: "\f0e4";
    font-family: 'Material Icons';
}

.COMMAND > .webix_tree_file:before {
    content: "\f152";
    font-family: 'Material Icons';
}

.PIPE > .webix_tree_file:before {
    content: "\f0f6";
    font-family: 'Material Icons';
}

.INFO > .webix_tree_file:before {
    content: "\f111";
    font-family: 'Material Icons';
    font-size: xx-small;
}


.info_folder > .webix_tree_folder_open:before, .info_folder > .webix_tree_folder:before {
    content: "\f05a";
    font-family: 'Material Icons';
}
.info_folder > .webix_tree_folder_open, .info_folder > .webix_tree_folder {
    background-image: none;
}

/* TODO MORE STATES */

/* others */
.custom_icon-screwdriver {
    width: 20px;
    height: 20px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAATCAYAAACQjC21AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOnAAADpwBB5RT3QAAAY9JREFUOI2l1DFI1VEUx/GPIhRFhRRoUkQRDba4KATpIARN0dISbQ5BDUEhTYlQg4EkuCQEog5iTk4ORYOTkGBQiFEQFFFBRGUNFfpew732/3t5/+fTfvBf7vnxvfec/zmHTL1YwXPcxi61qxFHKgXa8ARlTNcIO4v3mCoynIzA1RpeeQklfMGh9cNunMqZ+iKwjGNVYPuwiM84nw+0CLWbxnX8zgEfFMAasYBR1FcynMOPHGj9K+Fm4j2AZxhBXZUMNOMqhrCUQK9FTxNeYHgzWKodGIuwslCGTixjcCugVAP4hSt4hbv/A6vHfpzBmwifRf92gT34KjTtLTyW1fSeLdbwIF5GwB+04oaspmXMCOPWUA3UgnF8l/2MCZyI8RRaihfO4XQKO4zXiflChUvv2Nira/go6wRwVCh83rhckEUd5nOXXhTarFdYLI7jXQL7Kcx4ke5H39PkfC+8TWAr6KoCg8vRO4fdafBhDvbNxs1TpJ14JKT8QWixf0tiDybxCe01wPLqEOa/X9hA/gK43nfLq82VCwAAAABJRU5ErkJggg==')
}

.CodeMirror{
    height: 100%;
}

@keyframes waltz-spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.waltz-spin {
    animation-name: waltz-spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.spinner {
    animation: rotator 1.4s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
}

@keyframes rotator {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(270deg); }
}

.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation:
    dash 1.4s ease-in-out infinite,
    colors 5.6s ease-in-out infinite;
}

@keyframes colors {
    0% { stroke: #1CA1C1; }
    25% { stroke: #1CA1C1; }
    50% { stroke: #1CA1C1; }
    75% { stroke: #1CA1C1; }
    100% { stroke: #1CA1C1; }
}

@keyframes dash {
    0% { stroke-dashoffset: 187; }
    50% {
        stroke-dashoffset: 50;
        transform:rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        transform:rotate(450deg);
    }
}

.red {
    color: red;
}
