<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><%= class_name %></title>
    <link rel="shortcut icon" href="../../images/platform/favicon.png">
    <link rel="stylesheet" href="https://cdn.webix.com/5.2/skins/aircompact.css" type="text/css">
    <!-- code mirror: enable if scripting widget is used -->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/codemirror.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/addon/hint/show-hint.min.css" type="text/css">-->
</head>
<body oncontextmenu="return false;">
<img id="ajax-loader" style="position: absolute; top: 50%; left: 50%;" src="../../images/platform/ajax-loader.gif">

<script type="text/javascript" src="https://cdn.webix.com/5.2/webix_debug.js"></script>
<!-- plotly: enable if plot widget is used -->
<!--<script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.js"></script>--
<!-- code mirror: enable if scripting widget is used -->
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/codemirror.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/mode/javascript/javascript.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/addon/hint/show-hint.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/addon/hint/javascript-hint.min.js"></script>-->
<script type="text/javascript" src="../../jmvc/include.js?<%= application_name %>,development"></script>
</body>
</html>