<form class="step regular-form submit" id="FinalStep_frmFinal">
    <fieldset>
        <div class="title-wrap">
            <strong class="label">Final review:</strong>
        </div>
        <div class="form-box">
            <div class="row" style="height: 480px;width:320px;">
                <div id="dataHolder" style="height: 100%;width:100%;overflow:auto;"></div>
            </div>
        </div>
        <div class="ui-widget help-box">
            <div class="ui-state-highlight ui-corner-all help-content">
                <p>
                    <span class="ui-icon ui-icon-info"></span>
                    <%= help %>
                </p>
            </div>
        </div>
    </fieldset>
</form>