<div id="<%= id %>" title="<%= model.titel %>" style="display: none;">
    <p class="validateTips"><%= model.header %></p>
    <form>
        <fieldset>
            <div class="mdlDlg_model_container">
                <!--is updated when dialog opens-->
            </div>
        </fieldset>
    </form>
</div>